.im1{width:40%;
height:48%;
position:relative;
left:80px;
float:left;
top:10px;}

.Hone{position:relative;
left:60px;
font-size:32;
top:15px;}
.uni{position:relative;
left:60px;
font-size:20;
top:0px;}

.logo{position:relative;
left:30px;
top:-50px;}

.exp{text-align:center;
font-style:bold;
font-size:38;}

h3{position:relative;
left:30px;
font-size:22;
font-weight: normal;
text-align:center;}

.im2{width:40%;
height:48%;
position:relative;
left:200px;
top:-80px;}

.im3{width:40%;
height:48%;
position:relative;
left:80px;}

.im5{width:40%;
height:48%;
position:relative;
left:900px;
top:-1060px;}

.im4{width:60%;
height:58%;
position:relative;
left:300px;}